.border-box {
  box-sizing: border-box;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.bt {
  border-top-style: solid;
  border-top-width: 1px;
}

.b--black-80 {
  border-color: rgba(0, 0, 0, 0.8);
}

.b--black-20 {
  border-color: rgba(0, 0, 0, 0.2);
}

.b--black-10 {
  border-color: rgba(0, 0, 0, 0.1);
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.dt--fixed {
  table-layout: fixed;
  width: 100%;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.fw6 {
  font-weight: 600;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.h2 {
  height: 2rem;
}

.tracked {
  letter-spacing: 0.1em;
}

.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}

.link:hover {
  transition: color 0.15s ease-in;
}

.link:active {
  transition: color 0.15s ease-in;
}

.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

.mw-100 {
  max-width: 100%;
}

.w2 {
  width: 2rem;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.white {
  color: #fff;
}

.bg-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.pa4 {
  padding: 2rem;
}

.pl2 {
  padding-left: 0.5rem;
}

.pr2 {
  padding-right: 0.5rem;
}

.pr3 {
  padding-right: 1rem;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mr3 {
  margin-right: 1rem;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.mb3 {
  margin-bottom: 1rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mb5 {
  margin-bottom: 4rem;
}

.mt0 {
  margin-top: 0;
}

.mt2 {
  margin-top: 0.5rem;
}

.mt4 {
  margin-top: 2rem;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.f3 {
  font-size: 1.5rem;
}

.f4 {
  font-size: 1.25rem;
}

.f5 {
  font-size: 1rem;
}

.f6 {
  font-size: 0.875rem;
}

.f7 {
  font-size: 0.75rem;
}

.v-mid {
  vertical-align: middle;
}

.dim {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.dim:hover,
.dim:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.dim:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

@media screen and (min-width: 30em) {
  .dn-ns {
    display: none;
  }

  .dib-ns {
    display: inline-block;
  }

  .dtc-ns {
    display: table-cell;
  }

  .w5-ns {
    width: 16rem;
  }

  .w-auto-ns {
    width: auto;
  }

  .pl0-ns {
    padding-left: 0;
  }

  .pr0-ns {
    padding-right: 0;
  }

  .pv3-ns {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .mb0-ns {
    margin-bottom: 0;
  }

  .tr-ns {
    text-align: right;
  }

  .f2-ns {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .mr4-m {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 60em) {
  .w-50-l {
    width: 50%;
  }

  .pa5-l {
    padding: 4rem;
  }

  .mr5-l {
    margin-right: 4rem;
  }

  .mb0-l {
    margin-bottom: 0;
  }

  .mb4-l {
    margin-bottom: 2rem;
  }

  .f4-l {
    font-size: 1.25rem;
  }

  .f6-l {
    font-size: 0.875rem;
  }
}
